//light
//primary
$color-light-primary: #029FAE;

//secondary
$color-light-secondary: #272343;


$color-light-white-700: #999999;
$color-light-white-600: #AAAAAA;
$color-light-white-500: #BBBBBB;
$color-light-white-400: #CCCCCC;
$color-light-white-300: #DDDDDD;
$color-light-white-200: #EEEEEE;
$color-light-white-100: #FFFFFF;

$color-light-black-100: #888888;
$color-light-black-200: #777777;
$color-light-black-300: #666666;
$color-light-black-400: #555555;
$color-light-black-500: #444444;
$color-light-black-600: #333333;
$color-light-black-700: #222222;
$color-light-black-800: #111111;
$color-light-black-900: #000000;


//dark
//primary
$color-dark-primary: #029FAE;

//secondary
$color-dark-secondary: #272343;


$color-dark-white-700: $color-light-white-700;
$color-dark-white-600: $color-light-white-600;
$color-dark-white-500: $color-light-white-500;
$color-dark-white-400: $color-light-white-400;
$color-dark-white-300: $color-light-white-300;
$color-dark-white-200: $color-light-white-200;
$color-dark-white-100: $color-light-white-100;

$color-dark-black-100: $color-light-black-100;
$color-dark-black-200: $color-light-black-200;
$color-dark-black-300: $color-light-black-300;
$color-dark-black-400: $color-light-black-400;
$color-dark-black-500: $color-light-black-500;
$color-dark-black-600: $color-light-black-600;
$color-dark-black-700: $color-light-black-700;
$color-dark-black-800: $color-light-black-800;
$color-dark-black-900: $color-light-black-900;
